<div class="flex w-full bg-gradient-to-tr from-black to-gray-700 rounded-lg">
  <div class="w-1/5 px-4 py-6">
    <div
      class="relative aspect-square rounded-full overflow-hidden image-container image"
    >
      <img
        src="mm.png"
        alt="Profile Image"
        class="w-full h-full object-cover mask-blurry-edges"
      />
    </div>
  </div>

  <div class="text w-4/5 px-4 py-6 rounded-sm text-center">
    <span
      class="hover:scale-x-110 transition duration-300 ease-in-out bg-gradient-to-br from-pink-500 to-violet-500 px-2 bg-clip-text text-transparent font-bold text-lg sm:text-lg md:text-2xl lg:text-3xl xl:text-4xl text-shadow-xs text-shadow-white"
      >Hi, I'M Momin Mohasin </span
    ><br />
    <span
      class="hover:scale-x-110 transition duration-300 ease-in-out bg-gradient-to-br from-pink-500 to-violet-500 px-2 bg-clip-text text-transparent font-bold text-lg sm:text-lg md:text-2xl lg:text-3xl xl:text-4xl text-shadow-xs text-shadow-white"
      >A Full Stack Developer </span
    ><br />
    <span
      class="hover:scale-x-110 transition duration-300 ease-in-out bg-gradient-to-br from-pink-500 to-violet-500 px-2 bg-clip-text text-transparent font-bold text-lg sm:text-lg md:text-2xl lg:text-3xl xl:text-4xl text-shadow-xs text-shadow-white"
      >I build websites and web applications </span
    ><br />
    <span
      class="hover:scale-x-110 transition duration-300 ease-in-out bg-gradient-to-br from-pink-500 to-violet-500 px-2 bg-clip-text text-transparent font-bold text-lg sm:text-lg md:text-2xl lg:text-3xl xl:text-4xl text-shadow-xs text-shadow-white"
      >using the latest technologies. </span
    ><br />
    <span
      class="hover:scale-x-110 transition duration-300 ease-in-out bg-gradient-to-br from-pink-500 to-violet-500 px-2 bg-clip-text text-transparent font-bold text-lg sm:text-lg md:text-2xl lg:text-3xl xl:text-4xl text-shadow-xs text-shadow-white"
      >I am passionate about coding and love to learn new things. </span
    ><br />
  </div>
</div>
<app-projects></app-projects>
<app-skills></app-skills>
