<div
  class="mt-6 bg-gradient-to-br from-black to-gray-700 rounded-lg w-full px-4 py-6"
>
  <div class="text-center py-6">
    <span
      class="bg-gradient-to-l from-violet-500 to-pink-700 bg-clip-text text-transparent font-mono font-bold text-lg sm:text-lg md:text-2xl lg:text-3xl xl:text-4xl my-6"
    >
      Skills
    </span>
  </div>
  <div
    class="w-full grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 overflow-hidden"
  >
    <!-- Loop through the skills array -->
    <div
      *ngFor="let skill of skills"
      class="bg-transparent rounded-lg hover:bg-gradient-to-r from-pink-500 via-purple-500 to-indigo-500 transition-all duration-500 group"
    >
      <div
        class="zoom-card bg-black rounded-lg group-hover:shadow-lg group-hover:shadow-pink-500/40 transition-all duration-500 py-6 relative overflow-hidden"
      >
        <!-- Skill Name and Experience -->
        <div class="w-full text-center">
          <span
            class="bg-gradient-to-l from-violet-500 to-pink-700 bg-clip-text text-transparent font-mono font-bold text-lg sm:text-lg md:text-2xl lg:text-3xl xl:text-4xl"
          >
            {{ skill }}
          </span>
        </div>

        <!-- Hover Effect (Glow Border) -->
        <div
          class="absolute top-0 left-0 right-0 bottom-0 border-4 border-transparent group-hover:border-gradient-to-r group-hover:border-pink-500 group-hover:border-opacity-40 rounded-lg transition-all duration-500"
        ></div>
      </div>
    </div>
  </div>
</div>
